html {}
body, html {margin: 0px; padding: 0px;}
body {background-color: #f9f9f9; font-family: Tahoma, Arial, Helvetica, sans-serif; font-size:13px; color:#4d4a5e;}

strong, b {font-weight: bold;}
i {font-style:italic;}
h2 {font-size: 19px; font-weight: bold; margin: 10px 0;}
h3 {font-size: 15px; font-weight: bold; margin: 10px 0;}

.clear {clear: both;}
.float_left {float: left;}
.float_right {float: right;}

.left {text-align: left!important;}
.center {text-align: center!important;}
.middle {vertical-align: middle!important;}

.bold {font-weight: bold;}

.spacer_5 {height: 5px;}
.spacer_10 {height: 10px;}
.spacer_15 {height: 15px;}
.spacer_20 {height: 20px;}

.width_50 {width: 50px;}
.width_75 {width: 75px;}
.width_100 {width: 100px;}
.width_150 {width: 150px;}
.width_200 {width: 200px;}

.required {color: #E8071C;}

.red {color: #CC3434;}
.normal {font-weight: normal;}

label {display: inline;}

/* ------------------------------------------------------ */
/* --- SHEET -------------------------------------------- */

#sheet {}

#sheet input[type="text"] {margin: 0; width: 500px;}
#sheet textarea {margin: 10px 0; width: 500px;}

/* Zwiększa odstęp pomiędzy polem tekstowym a etykietą odpowiedzi w pytaniach jedno- i wielkokrotnego wyboru z opcją 'inne'. */
#sheet label.other {margin-right: 4px;}

#sheet p.question {margin-bottom: 5px;}

/* KOMUNIKATYCH BŁĘDÓW NA LIŚCIE PYTAŃ */
#sheet ul.errorlist {margin: 5px 0; padding: 3px 0 3px 5px;}
#sheet ul.errorlist li {line-height: 20px; height: 20px;}

/* LISTA PYTAŃ */
#sheet ol {list-style-type: decimal; list-style-position: outside; margin: 20px;}
#sheet ol > li {margin: 20px 0 0 20px;}

/* LISTA ODPOWIEDZI W NIEKTÓRYCH PYTANIACH */
#sheet ol > ul {list-style-type: none; list-style-position: outside; margin: 10px 0;}
#sheet ol > ul > li{margin: 5px 0;}

/* TABELE PYTAŃ MACIERZOWYCH */
#sheet table {margin-top: 20px;}

#sheet table thead {}
#sheet table thead tr {}
#sheet table thead tr > td {border-left: 1px dashed #bebfb8; padding: 5px; height: 20px; line-height: 20px;}
#sheet table thead td.answer {width: 150px; text-align: center;}
#sheet table thead td.corner {border: 0;}

#sheet table tbody {}
#sheet table tbody tr {border-top: 1px solid #bebfb8; border-bottom: 1px solid #bebfb8;}
#sheet table tbody tr > td {border-left: 1px dashed #bebfb8; padding: 5px; height: 20px; line-height: 20px;}
#sheet table tbody tr.odd {}
#sheet table tbody tr.even {background-color: #efefef;}
#sheet table tbody tr.first_row {} 
#sheet table tbody tr.last_row {border-bottom: 0;} 
#sheet table tbody tr.errors {border: 0px;}
#sheet table tbody tr.errors td {border-left: 0px; padding: 0;}
#sheet table tbody td {}
#sheet table tbody td.subquestion {width: 200px; border-left: 0;}
#sheet table tbody td.input {text-align: center;}