{% extends "orb/index.html" %}

{% block breadcrumb %}
	<ul class="breadcrumb">
        <li><a href="{% url apps.orb.views.index %}">Wybierz ankietę</a> <span class="divider">/</span></li>
		<li><a href="{% url apps.orb.views.authentication poll_id=poll.id %}">Wprowadź token</a></li>
	</ul>
{% endblock %}

{% block content %}
	<div id="respondent_authentication">
		<h2>Wprowadź swój token</h2>
		<form action="" method="GET" class="form-horizontal">
			{{ form.token.errors }}
			<div class="control-group">
				<label class="control-label" for="{{form.token.html_name}}">{{ form.token.label }}:</label>
				<div class="controls">
					<div class="input-append">
						{{ form.token }}
						<button class="btn" type="submit">Wyślij</button>
					</div>
				</div>
			</div>
		</form>	
	</div>
{% endblock %}
