{% extends "orb/base.html" %}

{% block breadcrumb %}
	<ul class="breadcrumb">
        <li><a href="{% url apps.orb.views.index %}">Wybierz ankietę</a></li>
	</ul>
{% endblock %}

{% block content %}
	<div id="respondent_authentication">
		<h2>Wybierz ankietę</h2>
        <table class="table table-striped">
            <thead>
                <th>Nazwa ankiety</th>
                <th>Data rozpoczęcia</th>
                <th>Data zakończenia</th>
            </thead>
            <tbody>
                {% for active_poll_type in active_poll_types %}
                    <tr>
                        <td><a href="{% url apps.orb.views.authentication poll_id=active_poll_type.poll.id %}">{{ active_poll_type.poll.title }}</a></td>
                        <td>{{ active_poll_type.poll.date_from }}</td>
                        <td>{{ active_poll_type.poll.date_to }}</td>
                    </tr>
                    {# <a class="link_0" href="">{% trans "Graduate Poll" %}</a> #}
                {% endfor %}
            </tbody>
        </table>
	</div>
{% endblock %}
