{% extends "orb/poll_show.html" %}

{% block breadcrumb %}
	<ul class="breadcrumb">
        <li><a href="{% url apps.orb.views.index %}">Wybierz ankietę</a> <span class="divider">/</span></li>
		<li><a href="{% url apps.orb.views.authentication poll_id=poll.id %}">Weryfikacja tokenu</a> <span class="divider">/</span></li>
		<li><a href="{% url apps.orb.views.poll_show poll_id=poll.id token=token %}">Ankieta</a> <span class="divider">/</span></li>
		<li class="active">Zakończenie ankiety</li>
	</ul>
{% endblock %}

{% block content %}
    {{ message|safe }}
{% endblock %}
