{% extends "orb/authentication.html" %}

{% block breadcrumb %}
	<ul class="breadcrumb">
        <li><a href="{% url apps.orb.views.index %}">Wybierz ankietę</a> <span class="divider">/</span></li>
		<li><a href="{% url apps.orb.views.authentication poll_id=poll.id %}">Weryfikacja tokenu</a> <span class="divider">/</span></li>
		<li class="active">Ankieta</li>
	</ul>
{% endblock %}

{% block content %}
	<div id="sheet">
		<h2 class="text-center">{{ poll.title }}</h2>
		<p>{{ sheet.info }}</p>
		
		<form method="post" action="">
			{% csrf_token %}
			<ol>
				{% for form in forms %}
					<li>
						{{ form }}
					</li>
				{% endfor %}
			</ol>
			<button type="submit" class="btn btn-success btn-large btn-block">Dalej</button>
		</form>
	</div>
{% endblock %}
